* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Marcellus SC";
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

p {
  font-size: 1.8rem; }

h1 {
  font-size: 5rem;
  text-align: center; }

h2 {
  font-size: 3rem;
  text-align: center; }

h3 {
  font-size: 2rem;
  margin: 1.8rem 0rem; }

li {
  font-size: 1.8rem;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

@media (max-width: 97em) {
  h1 {
    font-size: 4.5rem;
    text-align: center; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 1.8rem; }
  p {
    font-size: 1.5rem; }
  li {
    font-size: 1.5rem; } }

.photo-front {
  width: 100%;
  height: 100%; }

.lazy {
  filter: blur(20px); }

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
  width: 100%;
  margin-top: 10rem; }

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  gap: 1.5rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem; }

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 45%;
  margin: auto;
  margin-top: 10rem; }

.project-body {
  background-color: aliceblue;
  justify-items: center;
  font-family: Montserrat; }

.background {
  position: relative;
  overflow-y: clip;
  overflow-x: hidden; }
  .background::after {
    content: "";
    width: 800rem;
    height: 55rem;
    background-color: #16165f;
    position: absolute;
    top: 0;
    left: -60%;
    rotate: -45deg;
    z-index: -50; }

.main-heading {
  font-size: 6.4rem;
  padding-top: 8rem;
  text-shadow: 0.1rem 0.2rem 0.2rem #444;
  color: #03033d; }

.hidden-project {
  font-family: Montserrat;
  background-color: rgba(240, 248, 255, 0.849);
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25rem;
  margin: auto;
  font-size: 2.2rem;
  opacity: 0%;
  transition: 0.1s ease; }

.revealProject {
  z-index: 5;
  opacity: 100%;
  backdrop-filter: blur(0.5rem);
  overflow: scroll;
  z-index: 200; }

.testimony {
  padding: 5rem 5rem;
  margin: 5rem;
  border-top: 0.2rem solid #444;
  border-bottom: 0.2rem solid #444;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  font-size: 2rem; }

.box {
  perspective: 500rem;
  -moz-perspective: 500rem;
  position: relative;
  transition: all 0.8s;
  backface-visibility: hidden; }
  .box__side {
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .box__side-front {
      width: 100%;
      height: 100%;
      box-shadow: 0.3rem 0.5rem 1rem #333; }
      .box__side-front:hover {
        cursor: pointer; }
    .box__side-back {
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.6rem;
      border: solid 0.2rem #03033d;
      box-shadow: 0.5rem 0.7rem 0.9rem #03033d;
      background: linear-gradient(to bottom left, #2d4d77, aliceblue);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .box__side-back__des {
        font-size: 90%;
        text-align: center;
        color: #03033d;
        padding: 1rem 1rem;
        width: 100%;
        background-color: aliceblue;
        box-shadow: 0.2rem 0.2rem 0.8rem 0.1rem #03033d; }
      .box__side-back button {
        font-family: Montserrat;
        background-color: aliceblue;
        width: max-content;
        height: max-content;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0.8rem;
        text-align: center;
        box-shadow: 0.2rem 0.2rem 0.8rem 0.1rem #03033d;
        transition: 1s ease;
        border-radius: 1rem; }
        .box__side-back button:hover {
          cursor: pointer; }
        .box__side-back button:active {
          box-shadow: inset 0.2rem 0.2rem 0.5rem #222;
          outline: none;
          transform: translateY(0.05rem); }
  .box:hover .box__side-front {
    transform: rotateY(180deg); }
  .box:hover .box__side-back {
    transform: rotateY(0); }

.project {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  .project__schools, .project__commercial, .project__affordable, .project__specialty {
    position: relative;
    overflow: hidden; }
    .project__schools__sub-heading, .project__commercial__sub-heading, .project__affordable__sub-heading, .project__specialty__sub-heading {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 6rem;
      text-align: center;
      padding: 5rem;
      font-weight: bold;
      background-color: rgba(240, 248, 255, 0.411);
      transition: 0.8s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      color: #03033d; }
      .project__schools__sub-heading:hover, .project__commercial__sub-heading:hover, .project__affordable__sub-heading:hover, .project__specialty__sub-heading:hover {
        cursor: pointer; }
  .project__container {
    position: relative;
    margin: auto;
    padding: 5rem 30rem 15rem 30rem;
    margin: auto;
    width: 100%;
    position: relative; }

.hideUp {
  transform: translateY(-100%); }

@media (max-width: 112em) {
  body .project__container {
    padding: 10rem 10rem; }
  body .background::after {
    left: -90%; }
  body .grid-4col {
    width: 100%; }
  body .grid-3col {
    width: 90%; }
  body .grid-2col {
    width: 45%; }
  body .hidden-project {
    padding: 15rem 5rem 5rem 5rem; }
    body .hidden-project p {
      font-size: 90%; } }

@media (max-width: 81em) {
  body .project__container {
    padding: 5rem; }
  body .background::after {
    top: -70%; }
  body .background .testimony {
    font-size: 1.6rem;
    margin: 1rem;
    padding: 1rem; } }

@media (max-width: 81em) and (max-width: 59em) {
  body .grid-4col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    width: 75%;
    margin-top: 0rem;
    margin: auto; }
  body .grid-3col {
    width: 100%; }
  body .grid-2col {
    width: 60%; }
  body .background::after {
    left: -120%;
    top: -50%; } }

@media (max-width: 81em) and (max-width: 59em) and (max-width: 45em) {
  body .grid-4col {
    width: 90%; }
  body .grid-3col {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr; }
  body .fhb {
    grid-column: 1/3; }
  body .hocu {
    grid-column: 3/5; }
  body .kapolei {
    grid-column: 2/4;
    grid-row: 2/3; }
  body .piikoi {
    grid-column: 1/3; }
  body .citron {
    grid-column: 3/5; }
  body .seawinds {
    grid-column: 2/4;
    grid-row: 2/3; }
  body .grid-2col {
    width: 85%; }
  body .hidden-project {
    padding: 5rem 2rem 5rem 2rem;
    justify-content: flex-start; }
  body .background::after {
    left: -200%;
    top: -50%; } }

@media (max-width: 81em) and (max-width: 59em) and (max-width: 34em) {
  .project-body .main-heading {
    font-size: 5rem; }
  .project-body .grid-4col {
    width: 100%; }
  .project-body .box__side-back__des {
    height: 100%;
    border: none; }
  .project-body .grid-2col {
    width: 95%; }
  .project-body .box__side-back__des {
    font-size: 80%; }
  .project-body .box__side-back button {
    font-weight: normal; }
  .project-body .project__schools__sub-heading,
  .project-body .project__commercial__sub-heading,
  .project-body .project__affordable__sub-heading,
  .project-body .project__specialty__sub-heading {
    font-size: 4rem; }
  .project-body .background::after {
    left: -250%;
    top: -50%; } }

@media (max-width: 81em) and (max-width: 59em) and (max-width: 26em) {
  .project-body .project__container {
    padding: 2rem; }
  .project-body .main-heading {
    font-size: 3.5rem; }
  .project-body .grid-4col {
    margin-top: 0rem; }
  .project-body .grid-3col {
    margin-top: 5rem; }
  .project-body .grid-2col {
    margin-top: 5rem; }
  .project-body .project__schools__sub-heading,
  .project-body .project__commercial__sub-heading,
  .project-body .project__affordable__sub-heading,
  .project-body .project__specialty__sub-heading {
    font-size: 2.8rem; }
  .project-body .box__side-back button {
    width: 100%;
    font-size: 1.2rem;
    box-shadow: none;
    border-radius: 0; }
    .project-body .box__side-back button:active {
      box-shadow: none; } }

/* ///////////////NAVIGATION//////////////// */
nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0; }

.nav-list {
  margin: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  color: #eee5e9; }

.nav-list-item {
  padding: 0.5rem 1rem;
  border-bottom: #eee5e9 solid 0.2rem;
  border-top: #eee5e9 solid 0.2rem;
  border-radius: 1rem; }

.nav-list-item:hover {
  margin: 0;
  position: inline-block;
  cursor: pointer;
  border-radius: 1rem;
  scale: 1.1;
  transition: ease 0.2s; }

.changeNav {
  background-color: #696773; }

.changeNavProjects {
  background-color: #0c0f0a;
  color: #eee5e9;
  border-top: #0c0f0a solid 0.2rem;
  border-bottom: #eee5e9 solid 0.2rem; }

/* ///////////////HERO//////////////// */
.intro-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0c0f0a; }
  .intro-container h1 {
    position: absolute;
    bottom: 0;
    transform: translate(10%, -100%);
    width: 100%;
    text-align: left;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 1rem; }

.intro-image {
  object-fit: fill;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  z-index: -1;
  animation: introFadeOut linear forwards;
  animation-timeline: view();
  animation-range: exit;
  overflow-x: hidden; }

@keyframes introFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    scale: 3; } }

/* ///////////////ABOUT, VISION, MISSION, VALUES//////////////// */
.section-about {
  background-color: #0c0f0a;
  color: #eee5e9;
  padding: 20rem; }

.section-vmv {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 20rem;
  gap: 10rem;
  background-color: #0c0f0a; }

.vmv {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 25rem;
  min-height: fit-content;
  max-height: 55rem;
  align-items: center;
  text-align: center;
  border-radius: 2%;
  padding: 3.6rem 2.4rem;
  border: #eee5e9 solid 0.2rem;
  transition: all 0.3s;
  background-color: #111d4a;
  color: #eee5e9;
  z-index: 1; }

@media (max-width: 97em) {
  .vmv {
    max-width: 22rem;
    min-width: 18rem;
    max-height: 50rem; } }

.vmv:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.2rem 1rem 2rem #eee5e9; }

.icon {
  width: 5rem;
  background-color: #eee5e9;
  border-radius: 5%; }

.zeroOpacity {
  opacity: 0;
  scale: 0.8; }

.solid {
  opacity: 1;
  scale: 1; }

/* ///////////////FOUNDER //////////////// */
.founderBG {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  filter: grayscale(100%) brightness(100%);
  opacity: 0.3;
  z-index: -1;
  object-fit: fill; }

.section-founder {
  padding: 0rem 10rem 40rem 10rem;
  color: #0c0f0a; }

.founder {
  padding: 10rem 5rem;
  transition: all 0.3s; }

.founder-ralph {
  border-bottom: solid 0.3rem #696773; }

.leadersBG {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: sticky;
  top: 0;
  z-index: -1; }

.section-leaders {
  padding: 5rem 0rem 10rem 0rem;
  margin: 0rem 20rem 20rem 20rem;
  background-color: #eee5e9e1;
  color: #0c0f0a;
  border-radius: 5rem; }

.container-leader {
  transition: 1s ease;
  padding: 2rem 5rem;
  height: fit-content; }

.projectsBG {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  position: sticky;
  top: 0;
  filter: brightness(100%) grayscale(100%) contrast(30%); }

.header-projects {
  font-size: 5rem;
  letter-spacing: 1rem;
  margin-bottom: 50rem; }

.section-projects {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #eee5e9;
  box-shadow: #0c0f0a 4rem 4rem 6rem;
  position: sticky;
  top: 0;
  opacity: 0.9;
  margin-bottom: 30rem; }

.nav-projects {
  width: 50rem;
  height: 100%;
  background-color: #eee5e9;
  z-index: 1;
  color: #eee5e9;
  box-shadow: #0c0f0a 0.2rem 3rem 4rem; }

.heading-projects {
  color: #eee5e9; }

.project-categories {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15rem 3rem;
  justify-content: space-evenly; }

.project-category {
  padding: 0.5rem 3rem;
  border-bottom: solid 0.2rem #0c0f0a;
  border-top: solid 0.2rem #eee5e9;
  color: #0c0f0a;
  border-radius: 1rem; }

.project-category:hover {
  cursor: pointer;
  border-top: solid 0.2rem #0c0f0a;
  scale: 1.1;
  transition: 0.2s; }

.select {
  background-color: #0c0f0a;
  color: #eee5e9;
  border-radius: 1rem; }

.projects {
  height: 100%;
  width: 100%; }

.page {
  height: inherit;
  align-self: center;
  transition: 0.2s ease-in-out; }

.project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in;
  border: #0c0f0a 0.5rem solid;
  box-shadow: 0.5rem 0.6rem 0.8rem #0c0f0a; }

figure {
  overflow: hidden; }

.project-img:hover {
  scale: 120%;
  cursor: pointer;
  transition: ease 1s; }

.heading-projects {
  grid-row: 1;
  grid-column: 1/-1;
  align-self: center;
  color: #0c0f0a; }

.ren-1 {
  grid-row: 2 / span 2;
  grid-column: 7 / span 2; }

.ren-2 {
  grid-row: 2 / span 5;
  grid-column: 1 / 3; }

.ren-3 {
  grid-row: 2 / span 3;
  grid-column: 3 / span 4; }

.ren-4 {
  grid-row: 4 / span 3;
  grid-column: 7 / span 2; }

.ren-5 {
  grid-row: 5 / span 2;
  grid-column: 3 / span 4; }

/* ///////////////PROJECT SELECTIONS//////////////// */
.hidden {
  width: calc(100% - 40rem);
  height: 100vh;
  padding: 10rem;
  background-color: #0c0f0a;
  color: #eee5e9;
  position: absolute;
  opacity: 1;
  transition: 0.2s ease-in;
  scale: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hidden__project-desc {
    padding: 5rem; }
  .hidden__project-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s ease-in-out; }
  .hidden .active {
    opacity: 1; }

.image-scroller {
  height: 75%;
  width: 60%;
  overflow: hidden;
  position: relative;
  border: #eee5e9 0.2rem solid;
  border-radius: 1rem; }

/* ///////////////CONTACT//////////////// */
.section-contact {
  background-color: #111d4a;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
  height: 40vh;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 1rem 2rem 3rem black;
  color: #eee5e9; }

.address {
  width: 33%;
  text-align: center; }

.RSI-Logo {
  padding-top: 2rem;
  width: 50%; }

.form {
  width: 33%; }

.email-form {
  display: flex;
  flex-direction: column; }
  .email-form input {
    font-family: inherit;
    height: 1.8rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 1.2rem 1rem; }
  .email-form textarea {
    font-family: inherit;
    font-size: 1.8rem;
    height: 10rem;
    width: 100%;
    margin-top: 1rem;
    padding: 1.2rem 1rem; }
  .email-form .submitContact {
    font-family: inherit;
    margin-top: 1rem;
    padding: 0.8rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: #696773;
    color: #eee5e9;
    cursor: pointer; }
  .email-form .submitContact:hover {
    scale: 1.1;
    transition: 0.1s ease; }

.map {
  padding: 0rem 10rem;
  height: 100%; }

/* ///////////////RESUSEABLES//////////////// */
.floatPhoto {
  float: left;
  margin: 1.2rem;
  max-width: 15rem;
  box-shadow: 0.2rem 0.3rem 0.5rem #0c0f0a; }

.grid-8col {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 3fr);
  grid-gap: 1.2rem;
  justify-content: center;
  padding: 10rem 10rem 20rem 10rem;
  position: absolute; }

.hide {
  opacity: 0;
  z-index: -1;
  scale: 0.5; }

.fadeAndScale {
  scale: 3;
  opacity: 0;
  transition: ease-in 3s; }

.floatProject {
  float: left; }
