@import "general/general";
@import "general/projects";
@import "general/mediaq";

/* ///////////////NAVIGATION//////////////// */

.overflowContainer {
  overflow-x: hidden;
}
.menubtn {
  width: 4.5rem;
  height: 4.5rem;
  justify-self: center;
  background-color: rgb(6, 5, 100);
  stroke: rgb(219, 235, 243);
  border: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.6rem;
  position: fixed;
  // top: 0;
  width: 100%;
  background-color: rgb(6, 5, 100);
  color: rgb(219, 235, 243);
  opacity: 95%;
  z-index: 101;
}

.logo {
  height: 4rem;

  &:hover {
    cursor: pointer;
  }
}

.openMenu {
  background: linear-gradient(
    to bottom,
    rgb(6, 5, 100),
    rgba(7, 5, 100, 0.568)
  );
  color: rgb(219, 235, 243);
  width: 25rem;
  height: 100vh;
  padding: 2.4rem 5rem 2.4rem 2.4rem;
  // transform: translateX(-132%);
  // top: 6rem;
  // right: -35rem;
  // transform: translateX(100%);
  top: 7rem;
  right: 0;
  transition: 1s ease-out;
  text-align: left;

  cursor: default;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
  z-index: 101;
}

.contact {
  padding-top: 1rem;
  font-size: 1.4rem;
}

form {
  input {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    width: 100%;
  }
  textarea {
    padding: 0.2rem;
    width: 100%;
  }
}
.closeMenu {
  transform: translateX(100%);
}

.menuheader {
  font-size: 3.2rem;
  font-weight: bold;
}

.menuheader:first-child {
  padding-top: 0rem;
}

.menulink:link,
.menulink:visited {
  text-decoration: none;
  color: rgb(219, 235, 243);
}

.menulink:hover,
.menulink:active {
  text-decoration: none;
  color: rgb(162, 200, 233);
}

.map {
  height: auto;
  // width: auto;
  padding: 2.4rem 45rem 5rem 0;
}

.email-form {
  padding-top: 1rem;
  width: auto;
  input {
    height: 3rem;
    font-family: inherit;
  }
  textarea {
    font-family: inherit;
    height: 10rem;
  }
  button {
    padding: 0.5rem;
    font-family: inherit;
    font-weight: bold;
  }
}

/* ///////////////HERO//////////////// */

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: -1;
}

.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* ///////////////HISTORY //////////////// */
.container {
  z-index: 100;
  background-color: #fff;
  /* display: block; */
  position: relative;
  align-content: center;
  justify-items: center;
}

.section-history {
  max-width: 170rem;
  overflow: hidden;
  height: 100rem;
  padding: 3.2rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.about_us {
  max-width: 170rem;
  height: 90rem;
  padding: 4.8rem;
  display: grid;
  grid-template-columns: 55% 45%;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  opacity: 100;
  transition: 1s ease-in-out;
}

.about_us--heading {
  grid-column: 1/-1;
  margin-bottom: 4.8rem;
}

.aboutPhoto {
  width: 100%;
}

.founder {
  max-width: 170rem;
  height: 90rem;
  padding: 0rem 5.6rem 5.6rem 4.8rem;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  transition: 1s ease-in-out;
  position: absolute;
  opacity: 0;
}

.founder-photo {
  width: 45%;
}

.founder--heading {
  grid-column: 1/-1;
}

.history-icon {
  width: 3.6rem;
  background-color: rgb(6, 5, 100);
  border: none;
  stroke: rgb(219, 235, 243);
  border-radius: 50%;
  padding: 0.5rem 0.5rem;

  &.next {
    position: absolute;
    top: 2.5%;
    right: 25%;
  }

  &.previous {
    position: absolute;
    top: 2.5%;
    left: 25%;
  }

  &:hover {
    cursor: pointer;
  }
}

/* ///////////////VISION, MISSION, VALUES//////////////// */

.section-vv {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 10rem;
  gap: 5rem;
  background-color: aliceblue;
}

.vv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 30rem;
  align-items: center;
  text-align: center;
  color: rgb(219, 235, 243);
  background-color: rgb(6, 5, 100);
  border: solid rgb(6, 5, 100);
  border-radius: 2%;
  box-shadow: 0 1rem 2rem rgb(109, 104, 122);
  padding: 3.6rem 2.4rem;
  transition: all 0.4s;
}

.vv:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2rem 4.4rem rgb(109, 104, 122);
}

.icon {
  width: 10rem;
  background-color: rgb(219, 235, 243);
  border-radius: 5%;
  fill: rgb(219, 235, 243);
}

/* ///////////////LEADERSHIP//////////////// */
.leadership-heading {
  padding-top: 12rem;
  padding-bottom: 3.6rem;
  font-size: 6.4rem;
  text-align: center;
  // text-transform: uppercase;
  // letter-spacing: 1rem;
}

.section-leadership {
  max-width: 90%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  align-self: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

.leader-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  border: solid 0.2rem rgb(6, 5, 100);
  color: aliceblue;
  background: linear-gradient(to bottom right, rgb(8, 64, 136), rgb(6, 5, 100));
  padding: 0.8rem 2.4rem;
  width: 100%;
  justify-self: center;
  align-content: center;
  grid-column: 1/-1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.section-leadership img {
  float: left;
  width: 16rem;
  margin: 1.2rem;
  background-color: rgb(53, 53, 61);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem rgb(21, 21, 22);
}

.slideInFromLeft {
  animation: 0.6s ease 0s 1 slideInLeft;

  @keyframes slideInLeft {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.leader-box {
  border-radius: 1rem;
  transition: ease-in 1s;
  transform: translateX(0);
}

.hidden {
  opacity: 0;
  transform: translateX(-20%);
}

.leader-box-content {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  transition: 0.2s ease-in;
}

.leader-box-content p {
  padding: 2.4rem;
  grid-column: 2/3;
}

.leader-box {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 2rem rgb(109, 104, 122);
  margin-bottom: 1rem;
}

/* ///////////////AWARDS//////////////// */
.awards-heading {
  padding: 20rem 0rem 5rem 0rem;
  justify-items: center;
}

.section-awards {
  max-width: 160rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem;
  margin: auto;
  padding-bottom: 15rem;
}

.awards-card {
  color: rgb(21, 21, 22);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(75, 75, 82);
  border: rgb(53, 53, 61) 0.2rem solid;
  // background-color: rgb(8, 64, 136);

  img {
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
  }
}

.awards-description {
  color: rgb(219, 235, 243);
  background-color: rgb(75, 75, 82);
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.excellence {
  position: relative;
  &__text {
    position: absolute;
    top: 0;

    background-color: rgba(228, 245, 131, 0.562);
    text-align: center;
    font-size: 1.2rem;
    padding: 0.2rem;
  }
}

//////////////ORIGINAL////////////////
// .section-awards {
//   max-width: 165rem;
//   max-height: 80rem;
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-template-rows: repeat(4, 1fr);
//   gap: 1.2rem;
//   padding: 5rem 5rem 45rem 5rem;
//   margin: auto;
//   position: relative;

// &__award-box {
//   width: 100%;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
// }

// &::before {
//   content: "";
//   width: 165rem;
//   height: 55rem;
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   background-color: rgb(6, 5, 100);
//   z-index: -2;
//   border-radius: 1rem;
// }
// &::after {
//   content: "";
//   width: 175rem;
//   height: 50rem;
//   position: absolute;
//   top: 5%;
//   left: -3%;
//   background-color: rgb(3, 3, 61);
//   z-index: -1;
//   border-radius: 1rem;
// }

// .excellence {
//   position: relative;
//   &__text {
//     position: absolute;
//     top: 0;
//     // left: 50%;
//     // transform: translateX(-50%);
//     // width: 100%;
//     background-color: rgba(228, 245, 131, 0.562);
//     text-align: center;
//     font-size: 1.2rem;
//     padding: 0.2rem;
//   }
// }
// }

// .awards-description {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: fit-content;
//   height: 100%;
//   background-color: rgb(162, 200, 233);
//   text-align: center;
//   scale: 100%;
//   font-weight: bold;
//   font-size: 1.4rem;
//   transition: all 0.4s ease;
// }

// .awards-front {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

/* ///////////////GALLERY//////////////// */

.gallery-heading {
  padding-top: 10rem;
  margin-top: 5rem;
  background-color: aliceblue;
  font-weight: 900;
}

.section-gallery {
  position: relative;
  overflow-y: hidden;

  & figure {
    overflow: hidden;
    &:hover {
      .section-gallery__img {
        filter: grayscale(0);
      }
    }
  }

  &__gallery-grid {
    background-color: aliceblue;
    grid-column: full-start / full-end;
    padding: 5rem 5rem 10rem 5rem;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(9, 3vw);
    grid-gap: 1.2rem;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s ease;

    &:hover {
      scale: 110%;
    }
  }

  &:hover &__img {
    filter: grayscale(1);
    cursor: pointer;
  }

  .hideGal {
    position: absolute;
    top: 0;
    left: 0;
    // transform: translateY(50%);
    // transform: translateX(50%);
    display: flex;
    // align-self: center;
    justify-self: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;

    background-color: rgba(240, 248, 255, 0.356);
    backdrop-filter: blur(0.5rem);
    transition: ease 1s;
  }

  .galPhotoHidden {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    padding: 5rem;
  }

  .toggleIndex {
    z-index: -1;
  }

  &__item {
    &__1 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
    }
    &__2 {
      grid-row: 1 / span 4;
      grid-column: 14 / 19;
    }
    &__3 {
      grid-row: 1 / span 3;
      grid-column: 8 / span 6;
    }
    &__4 {
      grid-row: 1 / span 3;
      grid-column: 4 / 8;
    }
    &__5 {
      grid-row: 1 / span 2;
      grid-column: 23 / 27;
    }
    &__6 {
      grid-row: 1 / span 2;
      grid-column: 27 / 31;
    }
    &__7 {
      grid-row: 4 / span 3;
      grid-column: 1 / span 4;
    }
    &__8 {
      grid-row: 5 / span 3;
      grid-column: 14 / 18;
    }
    &__9 {
      grid-row: -3 / -1;
      grid-column: -4 / -1;
    }
    &__10 {
      grid-row: 1 / span 2;
      grid-column: 19 / 23;
    }
    &__11 {
      grid-row: 8 / span 2;
      grid-column: 14 / 18;
    }
    &__12 {
      grid-row: 7 / span 3;
      grid-column: 9 / 14;
    }
    &__13 {
      grid-row: -3 / -1;
      grid-column: -10 / -7;
    }
    &__14 {
      grid-row: 7 / span 3;
      grid-column: 6 / 9;
    }
    &__15 {
      grid-row: 3 / span 2;
      grid-column: 19 / 31;
    }
    &__18 {
      grid-row: 7 / span 3;
      grid-column: 1 / 6;
    }

    &__19 {
      grid-row: -4 / -1;
      grid-column: -14 / -10;
    }
    &__20 {
      grid-row: -6 / -3;
      grid-column: -6 / -1;
    }
    &__24 {
      grid-row: -6 / -4;
      grid-column: -14 / -10;
    }
    &__29 {
      grid-row: -3 / -1;
      grid-column: -7 / -4;
    }
    &__30 {
      grid-row: -6 / -3;
      grid-column: -10 / -6;
    }
    &__31 {
      grid-row: 4 / span 3;
      grid-column: 5 / 14;
    }
    &__31 {
      grid-row: 4 / span 3;
      grid-column: 5 / 14;
    }
  }
}
