* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Merriweather;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 1.8rem;
  overflow-x: hidden;
}

h1 {
  font-size: 6.4rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

h2 {
  font-size: 6.4rem;
  // font-size: 3.6rem;
  margin-top: 2.4rem;
  // margin-bottom: 2.4rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  margin: 2.4rem 0;
}

li {
  font-size: 1.8rem;
  list-style: none;
}

.btn {
  text-decoration: none;
  background-color: rgb(6, 5, 100);
  color: rgb(219, 235, 243);
  padding: 1.8rem 2.4rem;
  border-radius: 1rem;
}

.btn:hover,
.btn:active {
  text-decoration: none;
  cursor: pointer;
}

.nav-link:active,
.nav-link:hover {
  cursor: pointer;
  color: rgb(108, 196, 240);
}

.nav-link:link,
.nav-link:visited {
  cursor: pointer;
  color: rgb(219, 235, 243);
  text-decoration: none;
}

//////////REUSEABLE/////////
