/////////////////////PROJECTS SITE/////////////////////
$color-darkblue: rgb(3, 3, 61);

/////REUSABLE START////
.photo-front {
  width: 100%;
  height: 100%;
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
  width: 100%;
  margin-top: 10rem;
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  gap: 1.5rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 45%;
  margin: auto;
  margin-top: 10rem;
}

/////REUSABLE END////

.project-body {
  background-color: aliceblue;
  justify-items: center;
  font-family: Montserrat;
}

.background {
  position: relative;
  overflow-y: clip;
  overflow-x: hidden;
  &::after {
    content: "";
    width: 800rem;
    height: 55rem;
    background-color: rgb(22, 22, 95);
    position: absolute;
    top: 0;
    left: -60%;
    rotate: -45deg;
    z-index: -50;
  }
}
.main-heading {
  font-size: 6.4rem;
  padding-top: 8rem;
  text-shadow: 0.1rem 0.2rem 0.2rem #444;
  color: $color-darkblue;
}

.hidden-project {
  font-family: Montserrat;
  background-color: rgba(240, 248, 255, 0.849);
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25rem;
  margin: auto;
  font-size: 2.2rem;
  opacity: 0%;
  transition: 0.1s ease;
}

.revealProject {
  z-index: 5;
  opacity: 100%;
  backdrop-filter: blur(0.5rem);
  overflow: scroll;
  z-index: 200;
}

.testimony {
  padding: 5rem 5rem;
  margin: 5rem;
  border-top: 0.2rem solid #444;
  border-bottom: 0.2rem solid #444;

  font-style: italic;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
}

.box {
  perspective: 500rem;
  -moz-perspective: 500rem;
  position: relative;
  transition: all 0.8s;
  backface-visibility: hidden;

  &__side {
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    &-front {
      width: 100%;
      height: 100%;
      box-shadow: 0.3rem 0.5rem 1rem #333;

      &:hover {
        cursor: pointer;
      }
    }
    &-back {
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.6rem;

      border: solid 0.2rem rgb(3, 3, 61);
      box-shadow: 0.5rem 0.7rem 0.9rem rgb(3, 3, 61);
      background: linear-gradient(to bottom left, rgb(45, 77, 119), aliceblue);

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &__des {
        font-size: 90%;
        text-align: center;
        color: rgb(3, 3, 61);
        padding: 1rem 1rem;
        width: 100%;
        background-color: aliceblue;
        box-shadow: 0.2rem 0.2rem 0.8rem 0.1rem rgb(3, 3, 61);
      }

      & button {
        font-family: Montserrat;
        background-color: aliceblue;
        width: max-content;
        height: max-content;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0.8rem;
        text-align: center;
        box-shadow: 0.2rem 0.2rem 0.8rem 0.1rem rgb(3, 3, 61);

        transition: 1s ease;
        border-radius: 1rem;

        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: inset 0.2rem 0.2rem 0.5rem #222;
          outline: none;
          transform: translateY(0.05rem);
        }
      }
    }
  }

  &:hover &__side-front {
    transform: rotateY(180deg);
  }
  &:hover &__side-back {
    transform: rotateY(0);
  }
}

.project {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  &__schools,
  &__commercial,
  &__affordable,
  &__specialty {
    position: relative;
    overflow: hidden;
    &__sub-heading {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 6rem;
      text-align: center;
      padding: 5rem;
      font-weight: bold;
      // letter-spacing: 1rem;
      background-color: rgba(240, 248, 255, 0.411);
      transition: 0.8s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      color: rgb(3, 3, 61);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__container {
    // font-family: Montserrat;
    position: relative;
    margin: auto;
    padding: 5rem 30rem 15rem 30rem;
    margin: auto;
    width: 100%;
    position: relative;
  }
}

.hideUp {
  transform: translateY(-100%);
}

// 1800px (smaller desktop screen)
@media (max-width: 112em) {
  body {
    .project__container {
      padding: 10rem 10rem;
    }
    .background {
      &::after {
        left: -90%;
      }
    }
    .grid-4col {
      width: 100%;
    }

    .grid-3col {
      width: 90%;
    }

    .grid-2col {
      width: 45%;
    }
    .hidden-project {
      padding: 15rem 5rem 5rem 5rem;

      p {
        font-size: 90%;
      }
    }
  }
}

//1300px (large laptop)
@media (max-width: 81em) {
  body {
    .project__container {
      padding: 5rem;
    }
    .background {
      &::after {
        top: -70%;
      }
      .testimony {
        font-size: 1.6rem;
        margin: 1rem;
        padding: 1rem;
      }
    }
  }

  // 930px (small laptop)
  @media (max-width: 59em) {
    body {
      .grid-4col {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        width: 75%;
        margin-top: 0rem;
        margin: auto;
      }
      .grid-3col {
        width: 100%;
      }

      .grid-2col {
        width: 60%;
      }
      .background {
        &::after {
          left: -120%;
          top: -50%;
        }
      }
    }

    // 700px (large tablet)
    @media (max-width: 45em) {
      body {
        .grid-4col {
          width: 90%;
        }
        .grid-3col {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr 1fr;
        }

        .fhb {
          grid-column: 1/3;
        }
        .hocu {
          grid-column: 3/5;
        }
        .kapolei {
          grid-column: 2/4;
          grid-row: 2/3;
        }
        .piikoi {
          grid-column: 1/3;
        }
        .citron {
          grid-column: 3/5;
        }
        .seawinds {
          grid-column: 2/4;
          grid-row: 2/3;
        }

        .grid-2col {
          width: 85%;
        }
        .hidden-project {
          padding: 5rem 2rem 5rem 2rem;
          // margin-top: 5rem;
          justify-content: flex-start;
        }
        .background {
          &::after {
            left: -200%;
            top: -50%;
          }
        }
      }
    }

    //540px (small tablet)
    @media (max-width: 34em) {
      .project-body {
        .main-heading {
          font-size: 5rem;
        }

        .grid-4col {
          width: 100%;
        }
        .box__side-back__des {
          height: 100%;
          border: none;
        }
        .grid-2col {
          width: 95%;
        }

        .box__side-back__des {
          font-size: 80%;
        }
        .box__side-back button {
          font-weight: normal;
        }
        .project__schools__sub-heading,
        .project__commercial__sub-heading,
        .project__affordable__sub-heading,
        .project__specialty__sub-heading {
          font-size: 4rem;
        }
        .background {
          &::after {
            left: -250%;
            top: -50%;
          }
        }
      }
    }

    // 410px (big phones)
    @media (max-width: 26em) {
      .project-body {
        .project__container {
          padding: 2rem;
        }
        .main-heading {
          font-size: 3.5rem;
        }
        .grid-4col {
          // width: 100%;
          margin-top: 0rem;
        }
        .grid-3col {
          margin-top: 5rem;
        }
        .grid-2col {
          margin-top: 5rem;
        }
        .project__schools__sub-heading,
        .project__commercial__sub-heading,
        .project__affordable__sub-heading,
        .project__specialty__sub-heading {
          font-size: 2.8rem;
        }
        .box__side-back {
          button {
            width: 100%;
            font-size: 1.2rem;
            box-shadow: none;
            border-radius: 0;
            &:active {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
